[build]
  base = "frontend"
  command = "npm run build && npm run export"
  publish = "out"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
