[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
hike_to_mint = "Hhf9G9gUrQRjJ1ZPhgrZzj3eAw8mofXtNg21WjtB2Pym"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
